In [182]:
import numpy as np
import pandas as pd
import bisect
from numpy import datetime64
import warnings

warnings.filterwarnings('ignore')

In [183]:
def get_season(date: datetime64) -> int:
    x = date.month
    if x == 12:
        return 1
    return bisect.bisect_left([1, 6, 8, 11], x) + 1

In [184]:
df = pd.read_csv('files\\main_kgs.csv')
df

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,ДатаначалаБП0,ДатаокончанияБП0,Статуспоэкспертизе,Экспертиза,date_report
0,Образование,Общеобразовательные учреждения,022-0527,1,0.0,2022-01-14,2023-03-30,NaN,NaN,NaN,NaN,2023.01.17
1,Образование,Общеобразовательные учреждения,022-0354,1,0.0,2022-12-01,2023-07-27,NaN,NaN,NaN,NaN,2023.01.17
2,Образование,Дошкольные учреждения,022-0513,1,0.0,2023-01-23,2023-09-29,NaN,NaN,NaN,NaN,2023.01.17
3,Образование,Дошкольные учреждения,020-0684,1,0.0,2020-11-03,2022-02-01,2020-11-03,2021-12-29,NaN,NaN,2023.01.17
4,Образование,Дошкольные учреждения,019-0589,1,0.0,2020-11-03,2022-05-16,2020-11-03,2021-12-29,NaN,NaN,2023.01.17
...,...,...,...,...,...,...,...,...,...,...,...,...
1060160,Здравоохранение,Поликлиники,023-0135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.05.29
1060161,Здравоохранение,Поликлиники,021-0049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.05.29
1060162,Здравоохранение,Поликлиники,021-0050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.05.29
1060163,Здравоохранение,Поликлиники,022-0707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.05.29
1060164,Здравоохранение,Поликлиники,022-0630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.05.29

In [185]:
df.dtypes

obj_prg                     object
obj_subprg                  object
obj_key                     object
Кодзадачи                   object
ПроцентЗавершенияЗадачи    float64
ДатаНачалаЗадачи            object
ДатаОкончанияЗадачи         object
ДатаначалаБП0               object
ДатаокончанияБП0            object
Статуспоэкспертизе         float64
Экспертиза                  object
date_report                 object
dtype: object

In [186]:
keys = df['obj_key'].unique()

In [187]:
df['ДатаначалаБП0'].fillna(df['ДатаНачалаЗадачи'], inplace=True)
df['ДатаокончанияБП0'].fillna(df['ДатаОкончанияЗадачи'], inplace=True)
df

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,ДатаначалаБП0,ДатаокончанияБП0,Статуспоэкспертизе,Экспертиза,date_report
0,Образование,Общеобразовательные учреждения,022-0527,1,0.0,2022-01-14,2023-03-30,2022-01-14,2023-03-30,NaN,NaN,2023.01.17
1,Образование,Общеобразовательные учреждения,022-0354,1,0.0,2022-12-01,2023-07-27,2022-12-01,2023-07-27,NaN,NaN,2023.01.17
2,Образование,Дошкольные учреждения,022-0513,1,0.0,2023-01-23,2023-09-29,2023-01-23,2023-09-29,NaN,NaN,2023.01.17
3,Образование,Дошкольные учреждения,020-0684,1,0.0,2020-11-03,2022-02-01,2020-11-03,2021-12-29,NaN,NaN,2023.01.17
4,Образование,Дошкольные учреждения,019-0589,1,0.0,2020-11-03,2022-05-16,2020-11-03,2021-12-29,NaN,NaN,2023.01.17
...,...,...,...,...,...,...,...,...,...,...,...,...
1060160,Здравоохранение,Поликлиники,023-0135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.05.29
1060161,Здравоохранение,Поликлиники,021-0049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.05.29
1060162,Здравоохранение,Поликлиники,021-0050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.05.29
1060163,Здравоохранение,Поликлиники,022-0707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.05.29
1060164,Здравоохранение,Поликлиники,022-0630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.05.29

In [188]:
exs = df['Экспертиза'].unique()

d_exs = {exs[i]: i for i in range(len(exs))}
d_exs

{nan: 0, '1ТС': 1, '2ТС': 2, '1С': 3, '2Т': 4, '1Т': 5, '2С': 6}

In [189]:
df['Статуспоэкспертизе'].fillna(0, inplace=True)
df['Экспертиза'] = df['Экспертиза'].map(d_exs)
df

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,ДатаначалаБП0,ДатаокончанияБП0,Статуспоэкспертизе,Экспертиза,date_report
0,Образование,Общеобразовательные учреждения,022-0527,1,0.0,2022-01-14,2023-03-30,2022-01-14,2023-03-30,0.0,0,2023.01.17
1,Образование,Общеобразовательные учреждения,022-0354,1,0.0,2022-12-01,2023-07-27,2022-12-01,2023-07-27,0.0,0,2023.01.17
2,Образование,Дошкольные учреждения,022-0513,1,0.0,2023-01-23,2023-09-29,2023-01-23,2023-09-29,0.0,0,2023.01.17
3,Образование,Дошкольные учреждения,020-0684,1,0.0,2020-11-03,2022-02-01,2020-11-03,2021-12-29,0.0,0,2023.01.17
4,Образование,Дошкольные учреждения,019-0589,1,0.0,2020-11-03,2022-05-16,2020-11-03,2021-12-29,0.0,0,2023.01.17
...,...,...,...,...,...,...,...,...,...,...,...,...
1060160,Здравоохранение,Поликлиники,023-0135,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,2023.05.29
1060161,Здравоохранение,Поликлиники,021-0049,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,2023.05.29
1060162,Здравоохранение,Поликлиники,021-0050,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,2023.05.29
1060163,Здравоохранение,Поликлиники,022-0707,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,2023.05.29
1060164,Здравоохранение,Поликлиники,022-0630,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,2023.05.29

In [190]:
df['Статуспоэкспертизе'] = df['Статуспоэкспертизе'].astype(int)

In [191]:
df['ПроцентЗавершенияЗадачи'].fillna(0, inplace=True)
df['ПроцентЗавершенияЗадачи'] = df['ПроцентЗавершенияЗадачи'].astype(int)
df

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,ДатаначалаБП0,ДатаокончанияБП0,Статуспоэкспертизе,Экспертиза,date_report
0,Образование,Общеобразовательные учреждения,022-0527,1,0,2022-01-14,2023-03-30,2022-01-14,2023-03-30,0,0,2023.01.17
1,Образование,Общеобразовательные учреждения,022-0354,1,0,2022-12-01,2023-07-27,2022-12-01,2023-07-27,0,0,2023.01.17
2,Образование,Дошкольные учреждения,022-0513,1,0,2023-01-23,2023-09-29,2023-01-23,2023-09-29,0,0,2023.01.17
3,Образование,Дошкольные учреждения,020-0684,1,0,2020-11-03,2022-02-01,2020-11-03,2021-12-29,0,0,2023.01.17
4,Образование,Дошкольные учреждения,019-0589,1,0,2020-11-03,2022-05-16,2020-11-03,2021-12-29,0,0,2023.01.17
...,...,...,...,...,...,...,...,...,...,...,...,...
1060160,Здравоохранение,Поликлиники,023-0135,NaN,0,NaN,NaN,NaN,NaN,0,0,2023.05.29
1060161,Здравоохранение,Поликлиники,021-0049,NaN,0,NaN,NaN,NaN,NaN,0,0,2023.05.29
1060162,Здравоохранение,Поликлиники,021-0050,NaN,0,NaN,NaN,NaN,NaN,0,0,2023.05.29
1060163,Здравоохранение,Поликлиники,022-0707,NaN,0,NaN,NaN,NaN,NaN,0,0,2023.05.29
1060164,Здравоохранение,Поликлиники,022-0630,NaN,0,NaN,NaN,NaN,NaN,0,0,2023.05.29

In [192]:
atts = pd.read_csv("files\\attributes.csv")
atts['date_report'] = pd.to_datetime(atts['date_report'])

In [193]:
len(df)

1060165

In [194]:
df.drop_duplicates(inplace=True)
len(df)

1036510

In [195]:
df['ДатаНачалаЗадачи'] = pd.to_datetime(df['ДатаНачалаЗадачи'])
df['ДатаОкончанияЗадачи'] = pd.to_datetime(df['ДатаОкончанияЗадачи'])
df['ДатаначалаБП0'] = pd.to_datetime(df['ДатаначалаБП0'])
df['ДатаокончанияБП0'] = pd.to_datetime(df['ДатаокончанияБП0'])
df['date_report'] = pd.to_datetime(df['date_report'])

In [196]:
main_keys = ['1', '1.4.2', '3', '3.1', '3.3', '3.8', '3.11', '3.13', '3.15', '4', '4.1.1', '4.2', '4.3', '4.4', '4.5',
             '4.6', '4.7', '4.8', '4.9', '4.10', '4.11', '4.12', '5', '5.11', '7.1', '7.1.8', '7.4', '8']
df

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,ДатаначалаБП0,ДатаокончанияБП0,Статуспоэкспертизе,Экспертиза,date_report
0,Образование,Общеобразовательные учреждения,022-0527,1,0,2022-01-14,2023-03-30,2022-01-14,2023-03-30,0,0,2023-01-17
1,Образование,Общеобразовательные учреждения,022-0354,1,0,2022-12-01,2023-07-27,2022-12-01,2023-07-27,0,0,2023-01-17
2,Образование,Дошкольные учреждения,022-0513,1,0,2023-01-23,2023-09-29,2023-01-23,2023-09-29,0,0,2023-01-17
3,Образование,Дошкольные учреждения,020-0684,1,0,2020-11-03,2022-02-01,2020-11-03,2021-12-29,0,0,2023-01-17
4,Образование,Дошкольные учреждения,019-0589,1,0,2020-11-03,2022-05-16,2020-11-03,2021-12-29,0,0,2023-01-17
...,...,...,...,...,...,...,...,...,...,...,...,...
1060160,Здравоохранение,Поликлиники,023-0135,NaN,0,NaT,NaT,NaT,NaT,0,0,2023-05-29
1060161,Здравоохранение,Поликлиники,021-0049,NaN,0,NaT,NaT,NaT,NaT,0,0,2023-05-29
1060162,Здравоохранение,Поликлиники,021-0050,NaN,0,NaT,NaT,NaT,NaT,0,0,2023-05-29
1060163,Здравоохранение,Поликлиники,022-0707,NaN,0,NaT,NaT,NaT,NaT,0,0,2023-05-29
1060164,Здравоохранение,Поликлиники,022-0630,NaN,0,NaT,NaT,NaT,NaT,0,0,2023-05-29

In [197]:
df = df[df['Кодзадачи'].isin(main_keys)]

In [198]:
df['season'] = df['ДатаНачалаЗадачи'].apply(get_season)
df

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,ДатаначалаБП0,ДатаокончанияБП0,Статуспоэкспертизе,Экспертиза,date_report,season
0,Образование,Общеобразовательные учреждения,022-0527,1,0,2022-01-14,2023-03-30,2022-01-14,2023-03-30,0,0,2023-01-17,1
1,Образование,Общеобразовательные учреждения,022-0354,1,0,2022-12-01,2023-07-27,2022-12-01,2023-07-27,0,0,2023-01-17,1
2,Образование,Дошкольные учреждения,022-0513,1,0,2023-01-23,2023-09-29,2023-01-23,2023-09-29,0,0,2023-01-17,1
3,Образование,Дошкольные учреждения,020-0684,1,0,2020-11-03,2022-02-01,2020-11-03,2021-12-29,0,0,2023-01-17,4
4,Образование,Дошкольные учреждения,019-0589,1,0,2020-11-03,2022-05-16,2020-11-03,2021-12-29,0,0,2023-01-17,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055395,Здравоохранение,ССК,019-0477,7.4,93,2020-04-28,2023-05-31,2022-12-06,2022-12-15,0,0,2023-05-29,2
1056093,Образование,Общеобразовательные учреждения,020-0710,8,0,2023-08-31,2024-04-10,2023-08-31,2024-04-10,0,0,2023-05-29,3
1056094,Образование,Общеобразовательные учреждения,019-0675,8,0,2023-09-01,2024-04-11,2023-09-01,2024-04-11,0,0,2023-05-29,4
1056095,Образование,Дошкольные учреждения,020-0712,8,0,2023-06-19,2024-01-26,2023-06-19,2024-01-26,0,0,2023-05-29,2
1056096,Образование,Общеобразовательные учреждения,019-0429,8,0,2024-05-30,2024-12-31,2024-05-30,2024-12-31,0,0,2023-05-29,2

In [199]:
columns = ['obj_key', 'Кодзадачи', "ДатаНачалаЗадачи", "ДатаОкончания задачи", 'ПроцентЗавершенияЗадачи', 'obj_prg',
           'obj_subprg', 'ДатаначалаБП0', 'ДатаокончанияБП0', 'Статуспоэкспертизе', 'Экспертиза',
           'season', "Сдвиг", ]

# Create an empty DataFrame with columns
df2 = pd.DataFrame(columns=columns)
from tqdm import tqdm

# Iterate over rows and append data
for key in tqdm(keys):
    codes = df[df['obj_key'] == key]['Кодзадачи'].unique()
    codes.sort()
    for code in codes:
        result = df[(df['obj_key'] == key) & (df['Кодзадачи'] == code)].sort_values(
            ['ПроцентЗавершенияЗадачи', 'date_report'])
        if not result.empty:
            first_line = result.head(1)
            last_line = result.tail(1)

            start_date = first_line['date_report'].values[0]
            end_date = last_line['date_report'].values[0]
            task_ready = last_line['ПроцентЗавершенияЗадачи'].values[0]
            days_difference = (end_date - start_date) / np.timedelta64(1, 'D')
            obj_prg = first_line['obj_prg'].values[0]
            obj_subprg = first_line['obj_subprg'].values[0]
            start_bpo = first_line['ДатаначалаБП0'].values[0]
            end_bpo = last_line['ДатаокончанияБП0'].values[0]
            status_exp = last_line['Статуспоэкспертизе'].values[0]
            exp = last_line['Экспертиза'].values[0]
            season = first_line['season'].values[0]
            row_data = [key, code, start_date, end_date, task_ready, obj_prg, obj_subprg, start_bpo, end_bpo, status_exp, exp, season, abs(days_difference)] # abs(days_difference)
            df2 = df2.append(pd.Series(row_data, index=columns), ignore_index=True)
        else:
            print(key, code)
# Print the resulting DataFrame
df2

100%|██████████| 87/87 [00:12<00:00,  6.91it/s]

,obj_key,Кодзадачи,ДатаНачалаЗадачи,ДатаОкончания задачи,ПроцентЗавершенияЗадачи,obj_prg,obj_subprg,ДатаначалаБП0,ДатаокончанияБП0,Статуспоэкспертизе,Экспертиза,season,Сдвиг
0,022-0527,1,2023-01-17,2023-05-29,34,Образование,Общеобразовательные учреждения,2022-01-14,2023-04-27,0,0,1,132.0
1,022-0527,1.4.2,2023-01-17,2023-05-29,0,Образование,Общеобразовательные учреждения,2023-01-09,2023-04-27,0,0,1,132.0
2,022-0527,3,2023-01-17,2023-05-29,1,Образование,Общеобразовательные учреждения,2023-01-17,2023-12-25,0,0,1,132.0
3,022-0527,3.1,2023-01-17,2023-05-29,2,Образование,Общеобразовательные учреждения,2022-02-25,2023-07-28,0,0,1,132.0
4,022-0527,3.11,2023-01-17,2023-05-29,1,Образование,Общеобразовательные учреждения,2023-03-27,2023-07-25,0,0,2,132.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,022-0355,3.11,2023-02-13,2023-05-29,0,Образование,Общеобразовательные учреждения,2023-01-23,2023-02-20,0,0,1,105.0
1841,022-0355,3.13,2023-02-13,2023-05-29,0,Образование,Общеобразовательные учреждения,2023-02-21,2023-04-15,0,0,2,105.0
1842,022-0355,3.15,2023-02-13,2023-05-29,0,Образование,Общеобразовательные учреждения,2023-04-15,2023-05-15,0,0,2,105.0
1843,022-0355,4,2023-02-13,2023-05-29,35,Образование,Общеобразовательные учреждения,2023-05-14,2023-05-31,0,0,2,105.0
1844,022-0355,4.12,2023-02-13,2023-05-29,0,Образование,Общеобразовательные учреждения,2023-05-14,2023-05-31,0,0,2,105.0

In [200]:
df2['Сдвиг'].replace({0.0: 1}, inplace=True)
df2['Сдвиг'] = df2['Сдвиг'].astype(int)
df2['Скорость'] = df2['ПроцентЗавершенияЗадачи'] / df2['Сдвиг']
df2

,obj_key,Кодзадачи,ДатаНачалаЗадачи,ДатаОкончания задачи,ПроцентЗавершенияЗадачи,obj_prg,obj_subprg,ДатаначалаБП0,ДатаокончанияБП0,Статуспоэкспертизе,Экспертиза,season,Сдвиг,Скорость
0,022-0527,1,2023-01-17,2023-05-29,34,Образование,Общеобразовательные учреждения,2022-01-14,2023-04-27,0,0,1,132,0.257576
1,022-0527,1.4.2,2023-01-17,2023-05-29,0,Образование,Общеобразовательные учреждения,2023-01-09,2023-04-27,0,0,1,132,0.0
2,022-0527,3,2023-01-17,2023-05-29,1,Образование,Общеобразовательные учреждения,2023-01-17,2023-12-25,0,0,1,132,0.007576
3,022-0527,3.1,2023-01-17,2023-05-29,2,Образование,Общеобразовательные учреждения,2022-02-25,2023-07-28,0,0,1,132,0.015152
4,022-0527,3.11,2023-01-17,2023-05-29,1,Образование,Общеобразовательные учреждения,2023-03-27,2023-07-25,0,0,2,132,0.007576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,022-0355,3.11,2023-02-13,2023-05-29,0,Образование,Общеобразовательные учреждения,2023-01-23,2023-02-20,0,0,1,105,0.0
1841,022-0355,3.13,2023-02-13,2023-05-29,0,Образование,Общеобразовательные учреждения,2023-02-21,2023-04-15,0,0,2,105,0.0
1842,022-0355,3.15,2023-02-13,2023-05-29,0,Образование,Общеобразовательные учреждения,2023-04-15,2023-05-15,0,0,2,105,0.0
1843,022-0355,4,2023-02-13,2023-05-29,35,Образование,Общеобразовательные учреждения,2023-05-14,2023-05-31,0,0,2,105,0.333333
1844,022-0355,4.12,2023-02-13,2023-05-29,0,Образование,Общеобразовательные учреждения,2023-05-14,2023-05-31,0,0,2,105,0.0

In [201]:
df['Скорость'] = 0
keys = df['obj_key'].unique()
for key in tqdm(keys):
    codes = df[df['obj_key'] == key]['Кодзадачи'].unique()
    codes.sort()
    for code in codes:
        speed = df2[(df2['obj_key'] == key) & (df2['Кодзадачи'] == code)].head(1)['Скорость'].values[0]
        df.loc[(df['obj_key'] == key) & (df['Кодзадачи'] == code), 'Скорость'] = speed
df

100%|██████████| 72/72 [00:07<00:00,  9.07it/s]

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,ДатаначалаБП0,ДатаокончанияБП0,Статуспоэкспертизе,Экспертиза,date_report,season,Скорость
0,Образование,Общеобразовательные учреждения,022-0527,1,0,2022-01-14,2023-03-30,2022-01-14,2023-03-30,0,0,2023-01-17,1,0.257576
1,Образование,Общеобразовательные учреждения,022-0354,1,0,2022-12-01,2023-07-27,2022-12-01,2023-07-27,0,0,2023-01-17,1,0.462121
2,Образование,Дошкольные учреждения,022-0513,1,0,2023-01-23,2023-09-29,2023-01-23,2023-09-29,0,0,2023-01-17,1,0.416667
3,Образование,Дошкольные учреждения,020-0684,1,0,2020-11-03,2022-02-01,2020-11-03,2021-12-29,0,0,2023-01-17,4,0.000000
4,Образование,Дошкольные учреждения,019-0589,1,0,2020-11-03,2022-05-16,2020-11-03,2021-12-29,0,0,2023-01-17,4,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055395,Здравоохранение,ССК,019-0477,7.4,93,2020-04-28,2023-05-31,2022-12-06,2022-12-15,0,0,2023-05-29,2,0.704545
1056093,Образование,Общеобразовательные учреждения,020-0710,8,0,2023-08-31,2024-04-10,2023-08-31,2024-04-10,0,0,2023-05-29,3,0.000000
1056094,Образование,Общеобразовательные учреждения,019-0675,8,0,2023-09-01,2024-04-11,2023-09-01,2024-04-11,0,0,2023-05-29,4,0.000000
1056095,Образование,Дошкольные учреждения,020-0712,8,0,2023-06-19,2024-01-26,2023-06-19,2024-01-26,0,0,2023-05-29,2,0.000000
1056096,Образование,Общеобразовательные учреждения,019-0429,8,0,2024-05-30,2024-12-31,2024-05-30,2024-12-31,0,0,2023-05-29,2,0.000000

In [202]:
atts['Площадь'].fillna(0, inplace=True)
atts['Кол-во рабочих'].fillna(0, inplace=True)
atts

,obj_key,состояние площадки,Площадь,Генпроектировщик,Генподрядчик,Кол-во рабочих,date_report
0,022-0043,NaN,0.00,0,0,0.0,2023-01-20
1,022-0629,NaN,0.00,0,1,0.0,2023-01-20
2,022-0170,"Свободна, передана",16402.54,1,2,271.0,2023-01-20
3,022-0526,NaN,18100.00,0,0,0.0,2023-01-20
4,022-0520,NaN,27225.00,0,0,0.0,2023-01-20
...,...,...,...,...,...,...,...
8579,019-0476,"Свободна, передана",5429.00,31,19,3.0,2023-06-04
8580,019-0470,"Свободна, передана",15050.00,18,21,63.0,2023-06-04
8581,017-0527,Занята,14784.00,8,5,0.0,2023-06-04
8582,017-0520,"Свободна, не передана",6367.00,8,5,0.0,2023-06-04
8583,021-0548,Занята,4037.00,8,0,0.0,2023-06-04

In [203]:
df['Кол-во рабочих'] = np.nan
df['Генподрядчик'] = np.nan
df['Генпроектировщик'] = np.nan

In [204]:
for key in tqdm(keys):
    dates = atts[atts['obj_key'] == key]['date_report'].unique()
    dates.sort()
    for date in dates:
        query = atts[(atts['obj_key'] == key) & (atts['date_report'] == date)]
        if not query.empty:
            rab = query.head(1)['Кол-во рабочих'].values[0]
            gen_pod = query.head(1)['Генподрядчик'].values[0]
            gen_proc = query.head(1)['Генпроектировщик'].values[0]
            mask = (df['obj_key'] == key) & (df['date_report'] == date)
            df.loc[mask, 'Кол-во рабочих'] = rab
            df.loc[mask, 'Генподрядчик'] = gen_pod
            df.loc[mask, 'Генпроектировщик'] = gen_proc
        else:
            print("skip")
df

100%|██████████| 72/72 [00:24<00:00,  2.89it/s]

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,ДатаначалаБП0,ДатаокончанияБП0,Статуспоэкспертизе,Экспертиза,date_report,season,Скорость,Кол-во рабочих,Генподрядчик,Генпроектировщик
0,Образование,Общеобразовательные учреждения,022-0527,1,0,2022-01-14,2023-03-30,2022-01-14,2023-03-30,0,0,2023-01-17,1,0.257576,NaN,NaN,NaN
1,Образование,Общеобразовательные учреждения,022-0354,1,0,2022-12-01,2023-07-27,2022-12-01,2023-07-27,0,0,2023-01-17,1,0.462121,NaN,NaN,NaN
2,Образование,Дошкольные учреждения,022-0513,1,0,2023-01-23,2023-09-29,2023-01-23,2023-09-29,0,0,2023-01-17,1,0.416667,NaN,NaN,NaN
3,Образование,Дошкольные учреждения,020-0684,1,0,2020-11-03,2022-02-01,2020-11-03,2021-12-29,0,0,2023-01-17,4,0.000000,NaN,NaN,NaN
4,Образование,Дошкольные учреждения,019-0589,1,0,2020-11-03,2022-05-16,2020-11-03,2021-12-29,0,0,2023-01-17,4,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055395,Здравоохранение,ССК,019-0477,7.4,93,2020-04-28,2023-05-31,2022-12-06,2022-12-15,0,0,2023-05-29,2,0.704545,5.0,12.0,16.0
1056093,Образование,Общеобразовательные учреждения,020-0710,8,0,2023-08-31,2024-04-10,2023-08-31,2024-04-10,0,0,2023-05-29,3,0.000000,156.0,5.0,8.0
1056094,Образование,Общеобразовательные учреждения,019-0675,8,0,2023-09-01,2024-04-11,2023-09-01,2024-04-11,0,0,2023-05-29,4,0.000000,139.0,22.0,33.0
1056095,Образование,Дошкольные учреждения,020-0712,8,0,2023-06-19,2024-01-26,2023-06-19,2024-01-26,0,0,2023-05-29,2,0.000000,53.0,5.0,8.0
1056096,Образование,Общеобразовательные учреждения,019-0429,8,0,2024-05-30,2024-12-31,2024-05-30,2024-12-31,0,0,2023-05-29,2,0.000000,107.0,7.0,11.0

In [205]:
df['Кол-во рабочих'].value_counts()

0.0      13380
20.0       743
17.0       524
63.0       510
9.0        432
         ...
280.0       27
123.0       27
7.0         26
66.0        26
67.0        26
Name: Кол-во рабочих, Length: 228, dtype: int64

In [206]:
df[df['obj_key'] == '022-0170']

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,ДатаначалаБП0,ДатаокончанияБП0,Статуспоэкспертизе,Экспертиза,date_report,season,Скорость,Кол-во рабочих,Генподрядчик,Генпроектировщик
23,Образование,Общеобразовательные учреждения,022-0170,1,100,2022-04-05,2022-05-30,2022-04-05,2022-05-30,0,0,2023-01-17,2,0.757576,NaN,NaN,NaN
679,Образование,Общеобразовательные учреждения,022-0170,1.4.2,100,2022-05-03,2022-05-30,2022-05-03,2022-05-30,0,0,2023-01-17,2,0.757576,NaN,NaN,NaN
5970,Образование,Общеобразовательные учреждения,022-0170,3,98,2022-04-20,2023-03-29,2022-06-30,2023-03-24,0,0,2023-01-17,2,0.750000,NaN,NaN,NaN
6551,Образование,Общеобразовательные учреждения,022-0170,3.1,100,2022-04-25,2022-05-25,2022-06-30,2022-07-08,0,0,2023-01-17,2,0.757576,NaN,NaN,NaN
6978,Образование,Общеобразовательные учреждения,022-0170,3.11,99,2022-04-20,2023-03-15,2022-06-30,2022-11-28,0,0,2023-01-17,2,0.757576,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043575,Образование,Общеобразовательные учреждения,022-0170,5,0,2022-12-23,2023-09-22,2022-12-09,2023-07-10,0,0,2023-05-29,1,0.000000,465.0,2.0,1.0
1044416,Образование,Общеобразовательные учреждения,022-0170,5.11,0,2023-07-26,2023-07-30,2023-05-21,2023-05-25,0,0,2023-05-29,3,0.000000,465.0,2.0,1.0
1053503,Образование,Общеобразовательные учреждения,022-0170,7.1,0,2023-07-03,2023-07-24,2023-05-26,2023-06-16,0,0,2023-05-29,3,0.000000,465.0,2.0,1.0
1055199,Образование,Общеобразовательные учреждения,022-0170,7.1.8,0,2023-07-21,2023-07-24,2023-06-15,2023-06-16,0,0,2023-05-29,3,0.000000,465.0,2.0,1.0
1055369,Образование,Общеобразовательные учреждения,022-0170,7.4,0,2023-07-24,2023-07-31,2023-06-16,2023-06-30,0,0,2023-05-29,3,0.000000,465.0,2.0,1.0

In [207]:
len(df)

35201

In [208]:
obj_prg_ex = df['obj_prg'].unique()
obj_subprg_ex = df['obj_subprg'].unique()
obj_subprg_ex_d = {obj_subprg_ex[i]: i for i in range(len(obj_subprg_ex))}
obj_prg_ex_d = {obj_prg_ex[i]: i for i in range(len(obj_prg_ex))}
df['obj_prg'] = df['obj_prg'].map(obj_prg_ex_d)
df['obj_subprg'] = df['obj_subprg'].map(obj_subprg_ex_d)

In [209]:
df.drop(['ДатаначалаБП0', 'ДатаокончанияБП0'], axis=1, inplace=True)
df

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,Статуспоэкспертизе,Экспертиза,date_report,season,Скорость,Кол-во рабочих,Генподрядчик,Генпроектировщик
0,0,0,022-0527,1,0,2022-01-14,2023-03-30,0,0,2023-01-17,1,0.257576,NaN,NaN,NaN
1,0,0,022-0354,1,0,2022-12-01,2023-07-27,0,0,2023-01-17,1,0.462121,NaN,NaN,NaN
2,0,1,022-0513,1,0,2023-01-23,2023-09-29,0,0,2023-01-17,1,0.416667,NaN,NaN,NaN
3,0,1,020-0684,1,0,2020-11-03,2022-02-01,0,0,2023-01-17,4,0.000000,NaN,NaN,NaN
4,0,1,019-0589,1,0,2020-11-03,2022-05-16,0,0,2023-01-17,4,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055395,1,2,019-0477,7.4,93,2020-04-28,2023-05-31,0,0,2023-05-29,2,0.704545,5.0,12.0,16.0
1056093,0,0,020-0710,8,0,2023-08-31,2024-04-10,0,0,2023-05-29,3,0.000000,156.0,5.0,8.0
1056094,0,0,019-0675,8,0,2023-09-01,2024-04-11,0,0,2023-05-29,4,0.000000,139.0,22.0,33.0
1056095,0,1,020-0712,8,0,2023-06-19,2024-01-26,0,0,2023-05-29,2,0.000000,53.0,5.0,8.0
1056096,0,0,019-0429,8,0,2024-05-30,2024-12-31,0,0,2023-05-29,2,0.000000,107.0,7.0,11.0

In [210]:
df['Время на выполнение'] = abs((df['ДатаНачалаЗадачи'] - df['ДатаОкончанияЗадачи']).dt.days)
df

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,Статуспоэкспертизе,Экспертиза,date_report,season,Скорость,Кол-во рабочих,Генподрядчик,Генпроектировщик,Время на выполнение
0,0,0,022-0527,1,0,2022-01-14,2023-03-30,0,0,2023-01-17,1,0.257576,NaN,NaN,NaN,440
1,0,0,022-0354,1,0,2022-12-01,2023-07-27,0,0,2023-01-17,1,0.462121,NaN,NaN,NaN,238
2,0,1,022-0513,1,0,2023-01-23,2023-09-29,0,0,2023-01-17,1,0.416667,NaN,NaN,NaN,249
3,0,1,020-0684,1,0,2020-11-03,2022-02-01,0,0,2023-01-17,4,0.000000,NaN,NaN,NaN,455
4,0,1,019-0589,1,0,2020-11-03,2022-05-16,0,0,2023-01-17,4,0.000000,NaN,NaN,NaN,559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055395,1,2,019-0477,7.4,93,2020-04-28,2023-05-31,0,0,2023-05-29,2,0.704545,5.0,12.0,16.0,1128
1056093,0,0,020-0710,8,0,2023-08-31,2024-04-10,0,0,2023-05-29,3,0.000000,156.0,5.0,8.0,223
1056094,0,0,019-0675,8,0,2023-09-01,2024-04-11,0,0,2023-05-29,4,0.000000,139.0,22.0,33.0,223
1056095,0,1,020-0712,8,0,2023-06-19,2024-01-26,0,0,2023-05-29,2,0.000000,53.0,5.0,8.0,221
1056096,0,0,019-0429,8,0,2024-05-30,2024-12-31,0,0,2023-05-29,2,0.000000,107.0,7.0,11.0,215

In [211]:
obj_prg_ex_d

{'Образование': 0, 'Здравоохранение': 1}

In [212]:
df.dtypes

obj_prg                             int64
obj_subprg                          int64
obj_key                            object
Кодзадачи                          object
ПроцентЗавершенияЗадачи             int32
ДатаНачалаЗадачи           datetime64[ns]
ДатаОкончанияЗадачи        datetime64[ns]
Статуспоэкспертизе                  int32
Экспертиза                          int64
date_report                datetime64[ns]
season                              int64
Скорость                          float64
Кол-во рабочих                    float64
Генподрядчик                      float64
Генпроектировщик                  float64
Время на выполнение                 int64
dtype: object

In [213]:
df.sort_values(['obj_key', 'Кодзадачи', 'ПроцентЗавершенияЗадачи', 'date_report']).values

array([[0, 1, '017-0520', ..., nan, nan, 1202],
       [0, 1, '017-0520', ..., nan, nan, 1202],
       [0, 1, '017-0520', ..., nan, nan, 1202],
       ...,
       [1, 3, '022-0631', ..., nan, nan, 221],
       [1, 3, '022-0631', ..., nan, nan, 221],
       [1, 3, '022-0631', ..., nan, nan, 221]], dtype=object)

In [214]:
df[df['obj_key']== '022-0170'].sort_values(['obj_key', 'Кодзадачи', 'ПроцентЗавершенияЗадачи', 'date_report'])

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,Статуспоэкспертизе,Экспертиза,date_report,season,Скорость,Кол-во рабочих,Генподрядчик,Генпроектировщик,Время на выполнение
23,0,0,022-0170,1,100,2022-04-05,2022-05-30,0,0,2023-01-17,2,0.757576,NaN,NaN,NaN,55
47662,0,0,022-0170,1,100,2022-04-05,2022-05-30,0,0,2023-01-23,2,0.757576,NaN,NaN,NaN,55
96346,0,0,022-0170,1,100,2022-04-05,2022-05-30,0,0,2023-02-06,2,0.757576,NaN,NaN,NaN,55
148487,0,0,022-0170,1,100,2022-04-05,2022-05-30,0,0,2023-02-13,2,0.757576,338.0,2.0,1.0,55
203056,0,0,022-0170,1,100,2022-04-05,2022-05-30,0,0,2023-02-20,2,0.757576,334.0,2.0,1.0,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996974,0,0,022-0170,7.4,0,2023-07-24,2023-07-31,0,0,2023-05-22,3,0.000000,489.0,2.0,1.0,7
1055369,0,0,022-0170,7.4,0,2023-07-24,2023-07-31,0,0,2023-05-29,3,0.000000,465.0,2.0,1.0,7
45766,0,0,022-0170,8,0,2024-04-23,2024-11-22,0,0,2023-01-17,2,0.000000,NaN,NaN,NaN,213
94454,0,0,022-0170,8,0,2024-05-01,2024-12-02,0,0,2023-01-23,2,0.000000,NaN,NaN,NaN,215
145342,0,0,022-0170,8,0,2023-07-31,2024-03-08,0,0,2023-02-06,3,0.000000,NaN,NaN,NaN,221

In [215]:
tst_df = df.loc[df['Кол-во рабочих'].isna()].sort_values(['obj_key', 'Кодзадачи', 'ПроцентЗавершенияЗадачи', 'date_report'])
for i, row in tqdm(tst_df.iterrows()):
    obj_key = row[2]
    date_df = row[9]
    dates = atts[atts['obj_key'] == obj_key]['date_report'].unique()
    min_date = min(dates, key=lambda x: abs(x - date_df))
    query = atts[(atts['obj_key'] == obj_key) & (atts['date_report'] == min_date)].head(1)
    gen_pod = query['Генподрядчик'].values[0]
    gen_proc = query['Генпроектировщик'].values[0]
    rab = query['Кол-во рабочих'].values[0]
    tst_df.at[i, 'Генподрядчик'] = gen_pod
    tst_df.at[i, 'Генпроектировщик'] = gen_proc
    tst_df.at[i, 'Кол-во рабочих'] = rab
tst_df

5260it [00:12, 437.56it/s]

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,Статуспоэкспертизе,Экспертиза,date_report,season,Скорость,Кол-во рабочих,Генподрядчик,Генпроектировщик,Время на выполнение
8,0,1,017-0520,1,100,2018-11-01,2022-02-15,0,0,2023-01-17,4,0.757576,0.0,5.0,8.0,1202
47646,0,1,017-0520,1,100,2018-11-01,2022-02-15,0,0,2023-01-23,4,0.757576,0.0,5.0,8.0,1202
96335,0,1,017-0520,1,100,2018-11-01,2022-02-15,0,0,2023-02-06,4,0.757576,0.0,5.0,8.0,1202
665,0,1,017-0520,1.4.2,100,2021-12-15,2022-02-15,0,0,2023-01-17,1,0.757576,0.0,5.0,8.0,62
48319,0,1,017-0520,1.4.2,100,2021-12-15,2022-02-15,0,0,2023-01-23,1,0.757576,0.0,5.0,8.0,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93800,1,3,022-0631,7.4,0,2024-11-12,2024-11-30,0,0,2023-01-23,4,0.000000,0.0,2.0,0.0,18
144656,1,3,022-0631,7.4,0,2024-11-12,2024-11-30,0,0,2023-02-06,4,0.000000,0.0,2.0,0.0,18
45747,1,3,022-0631,8,0,2024-12-02,2025-07-11,0,0,2023-01-17,1,0.000000,0.0,2.0,0.0,221
94431,1,3,022-0631,8,0,2024-12-02,2025-07-11,0,0,2023-01-23,1,0.000000,0.0,2.0,0.0,221
145328,1,3,022-0631,8,0,2024-12-02,2025-07-11,0,0,2023-02-06,1,0.000000,0.0,2.0,0.0,221

In [216]:
df.update(tst_df[['Генподрядчик', 'Генпроектировщик', 'Кол-во рабочих']])
df

,obj_prg,obj_subprg,obj_key,Кодзадачи,ПроцентЗавершенияЗадачи,ДатаНачалаЗадачи,ДатаОкончанияЗадачи,Статуспоэкспертизе,Экспертиза,date_report,season,Скорость,Кол-во рабочих,Генподрядчик,Генпроектировщик,Время на выполнение
0,0,0,022-0527,1,0,2022-01-14,2023-03-30,0,0,2023-01-17,1,0.257576,0.0,0.0,0.0,440
1,0,0,022-0354,1,0,2022-12-01,2023-07-27,0,0,2023-01-17,1,0.462121,0.0,0.0,0.0,238
2,0,1,022-0513,1,0,2023-01-23,2023-09-29,0,0,2023-01-17,1,0.416667,0.0,0.0,0.0,249
3,0,1,020-0684,1,0,2020-11-03,2022-02-01,0,0,2023-01-17,4,0.000000,0.0,2.0,1.0,455
4,0,1,019-0589,1,0,2020-11-03,2022-05-16,0,0,2023-01-17,4,0.000000,0.0,2.0,1.0,559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055395,1,2,019-0477,7.4,93,2020-04-28,2023-05-31,0,0,2023-05-29,2,0.704545,5.0,12.0,16.0,1128
1056093,0,0,020-0710,8,0,2023-08-31,2024-04-10,0,0,2023-05-29,3,0.000000,156.0,5.0,8.0,223
1056094,0,0,019-0675,8,0,2023-09-01,2024-04-11,0,0,2023-05-29,4,0.000000,139.0,22.0,33.0,223
1056095,0,1,020-0712,8,0,2023-06-19,2024-01-26,0,0,2023-05-29,2,0.000000,53.0,5.0,8.0,221
1056096,0,0,019-0429,8,0,2024-05-30,2024-12-31,0,0,2023-05-29,2,0.000000,107.0,7.0,11.0,215

In [217]:
df.to_csv("files\\pred_final.csv", index=False)