In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import sklearn as sk

In [2]:
df = pd.read_csv("files//times.csv")
df

,obj_key,obj_subprg,Кодзадачи,ДатаНачалаЗадачи,Статуспоэкспертизе,Экспертиза,season,Скорость,Кол-во рабочих,Генподрядчик,...,2023-04-03,2023-04-10,2023-04-17,2023-04-24,2023-05-02,2023-05-10,2023-05-15,2023-05-22,2023-05-29,y
0,017-0520,1,1,736999,0,0,4,0.757576,0,5,...,100,100,100,100,100,100,100,100,100,1202
1,017-0520,1,1.4.2,738139,0,0,1,0.757576,0,5,...,100,100,100,100,100,100,100,100,100,62
2,017-0520,1,3,737841,0,0,2,0.083333,0,5,...,11,11,11,11,11,11,11,11,11,373
3,017-0520,1,3.1,737841,0,0,2,0.681818,0,5,...,38,38,38,38,38,38,38,38,38,220
4,017-0520,1,3.11,737900,0,0,2,0.000000,0,5,...,0,0,0,0,0,0,0,0,0,314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,022-0631,3,5.11,739160,0,0,4,0.000000,0,2,...,0,0,0,0,0,0,0,0,0,4
1841,022-0631,3,7.1,739160,0,0,3,0.000000,0,2,...,0,0,0,0,0,0,0,0,0,44
1842,022-0631,3,7.1.8,739201,0,0,4,0.000000,0,2,...,0,0,0,0,0,0,0,0,0,3
1843,022-0631,3,7.4,739202,0,0,4,0.000000,0,2,...,0,0,0,0,0,0,0,0,0,28
1844,022-0631,3,8,739222,0,0,1,0.000000,0,2,...,0,0,0,0,0,0,0,0,0,221